@font-face {
	font-family: 'icons';
	src: url('/fonts/icons.woff?no3hc9');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lucida';
	src: url('/fonts/lucida.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('/fonts/helvetica.woff');
	font-weight: normal;
	font-style: normal;
}
